<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{pageTitle}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a routerLink="/Home">Inicio <i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">Lugares en <i class="glyphicon glyphicon-eye-open"></i></a></li>
                <li><a href="#">Galerias <i class="glyphicon glyphicon-camera"></i></a></li>
                <li><a href="#">Multimedia <i class="glyphicon glyphicon-play-circle"></i></a></li>
                <li><a href="#">Eventos <i class="glyphicon glyphicon-cog"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i> Invitado <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Iniciar Session</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Registrarse</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>

<section class="container">
    <article class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </article><!--/.col-xs-12.col-sm-9-->

    <aside class="col-md-4">
        <div class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lugares en
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item" routerLink="/Tolata">
                            Tolata
                            <span class="pull-right text-muted small"><em>50 Fotografias</em></span>
                        </a>
                        <a class="list-group-item">
                            German jordan
                            <span class="pull-right text-muted small"><em>12 Fotografias</em></span>
                        </a>
                        <a class="list-group-item">
                            Punata
                            <span class="pull-right text-muted small"><em>6 Fotografias</em></span>
                        </a>
                    </div>
                    <a class="btn btn-success btn-block">Ver todos</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bolivia
                </div>
                <div class="panel-body">
                    <img src="app/modules/assets/images/Bolivia.jpg" width="100%">
                    <button type="button" class="btn btn-success btn-block">Sugerencias</button>
                </div>
            </div>
        </div>
    </aside>

    <hr>
</section><!--/.container-->

<footer class="footer">
    <div class="container">
        <p class="text-muted">Desarrollado por FunNest</p>
    </div>
</footer>
