<section class="container">
    <article class="col-md-8">
        <div class="row">

            <div *ngFor="let event of events" class="col-sm-12 col-lg-12 col-md-12">
                <div class="thumbnail">
                    <img src="{{event.image}}">
                    <div class="caption">
                        <h4 class="pull-right">{{event.date}}</h4>
                        <h4><a target="_blank" href="{{event.urlOrigin}}">{{event.title}}</a></h4>
                        <p>{{event.description}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 asistiran</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </article>

    <aside class="col-md-4">
        <div class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bolivia
                </div>
                <div class="panel-body">
                    <img src="app/modules/assets/images/Bolivia.jpg" width="100%">
                    <button type="button" class="btn btn-success btn-block">Sugerencias</button>
                </div>
            </div>
        </div>
    </aside>
</section>