<section class="container">

    <div align="center">
        <img src="app/modules/assets/images/trofeo.jpg" class="img-circle" width="30%">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar campeonato...">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button">Buscar</button>
                </span>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Lista de campeonatos</h4></div>
        <div class="list-group">
            <div class="list-group-item disabled">Campeonatos</div>
            <div *ngFor="let championship of championships" class="list-group-item">
                <b>{{championship.name}}</b>
                <button *ngIf="championship.getGroups() == null" class="btn btn-success btn-xs pull-right" type="button">Entrar</button>
                <div *ngFor="let group of championship.getGroups()" class="list-group-item">
                    {{group.name}}
                    <button class="btn btn-success btn-xs pull-right" type="button" (click)="redirectToGroups(group.id)">Entrar</button>
                </div>
            </div>
        </div>
    </div>

</section>
