<div class="col-sm-12">
    <div class="col-sm-6">
        <div align="center">
            <img *ngIf="player.urlPhoto == ''" src="app/modules/assets/images/championship/nobody.jpg" class="img-circle img-responsive" width="200px" height="200px">
            <img *ngIf="player.urlPhoto" src="{{player.urlPhoto}}" class="img-circle img-responsive" width="200px" height="200px">
        </div>
        <br>
    </div>
    <div class="col-sm-6">
        <br>
        <br>
        <br>
        <h3>{{player.firstName +' '+ player.lastName}}</h3>
        <i>{{player.position}}</i>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Informacion del jugador</div>
        <div class="panel-body">
            <div class="col-sm-6">
                <p class="text-right"><b>Documento de identidad:</b></p>
                <p class="text-right"><b>Direccion:</b></p>
                <p class="text-right"><b>Telefono:</b></p>
                <p class="text-right"><b>Edad:</b></p>
                <p class="text-right"><b>Description:</b></p>
            </div>
            <div class="col-sm-6">
                <p class="text-left">{{player.documentId}}</p>
                <p class="text-left">{{player.address}}</p>
                <p class="text-left">{{player.telephone}}</p>
                <p class="text-left">{{player.age}}</p>
                <p class="text-left">{{player.description}}</p>
            </div>
        </div>
    </div>
</div>