body {
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #eee;
}

footer {
    background-color: #222;
}

.test{
    background: blue;
}
li a.active{
    color: white;
    border-color: white;
}
